<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filenames</key>
	<dict>
		<key>art3/circle.psd</key>
		<string>art3/circle.png</string>
		<key>art3/cloud1.psd</key>
		<string>art3/cloud1.png</string>
		<key>art3/cloud2.psd</key>
		<string>art3/cloud2.png</string>
		<key>art3/egg1.psd</key>
		<string>art3/egg1.png</string>
		<key>art3/egg2.psd</key>
		<string>art3/egg2.png</string>
		<key>art3/fox1.psd</key>
		<string>art3/fox1.png</string>
		<key>art3/fox2.psd</key>
		<string>art3/fox2.png</string>
		<key>art3/ring.psd</key>
		<string>art3/ring.png</string>
		<key>arts/Blip1.wav</key>
		<string>arts/Blip1.caf</string>
		<key>arts/Blip2.wav</key>
		<string>arts/Blip2.caf</string>
		<key>arts/Brant Goose-SoundBible.com-1947646975.wav</key>
		<string>arts/Brant Goose-SoundBible.com-1947646975.caf</string>
		<key>arts/EggBroken.wav</key>
		<string>arts/EggBroken.caf</string>
		<key>arts/Goose-SoundBible.com-81224950.wav</key>
		<string>arts/Goose-SoundBible.com-81224950.caf</string>
		<key>arts/Hiccuping-SoundBible.com-777862873.wav</key>
		<string>arts/Hiccuping-SoundBible.com-777862873.caf</string>
		<key>arts/Jump.wav</key>
		<string>arts/Jump.caf</string>
		<key>arts/Mario_Jumpinp.wav</key>
		<string>arts/Mario_Jumpinp.caf</string>
		<key>arts/PopRight.wav</key>
		<string>arts/PopRight.caf</string>
		<key>arts/Punch.wav</key>
		<string>arts/Punch.caf</string>
		<key>arts/Ting.wav</key>
		<string>arts/Ting.caf</string>
		<key>arts/Uh Oh Baby-SoundBible.com-1858856676.wav</key>
		<string>arts/Uh Oh Baby-SoundBible.com-1858856676.caf</string>
		<key>arts/new_egg.wav</key>
		<string>arts/new_egg.caf</string>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
